* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #0E1016;
    color: white;
    font-family: "Poppins", sans-serif;
}

nav {
    width: 100%;
    padding: 14px 18px;
    border-bottom: 1px solid rgba(255, 255, 255, .08);

}

.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    font-size: 1.2rem;
}

.navbar .ham {
    font-size: 1.3rem;
    cursor: pointer;
}

.add .plus {
    font-size: 1.2rem;
}

.add button {
    outline: none;
    border: none;
    padding: 7px 8px;
    background: #8B5CF6;
    color: white;
    border-radius: 3px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.add button:hover {
    background: #7C3AED;
    box-shadow: 0 10px 20px rgba(139, 92, 246, .3);
}



.container {
    width: min(1200px, 92%);
    margin: 0 auto;
    padding: 0.6rem 0;
}

.dashboard p {
    color: gray;
    font-size: 0.9rem;
}

.dashboard {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.summary {
    padding: 10px 0;
    width: 100%;
    /* display: flex; */
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    background: #181D2A;
    border: 1px solid rgba(255, 255, 255, .05);
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
    width: 95%;
}

.cards:hover {

    transform: translateY(-5px);

    border-color: #8B5CF6;
    box-shadow: 0 15px 35px rgba(0, 0, 0, .25);

}

.wallet {
    padding: 6px;
    border-radius: 7px;
    background-color: purple;

}

.money {
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(100, 242, 100);
}

.arrow {
    padding: 6px;
    border-radius: 7px;
    background-color: rgb(159, 0, 0);
    font-size: 1.1rem;
}

.notes {
    padding: 6px;
    border-radius: 7px;
    background-color: orangered;
    font-size: 1.1rem;
}


.info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.balance h3,
.income h3,
.expenses h3 {
    font-size: 1.2rem;
}

.transactions h3 {
    font-size: 0.9rem;
}

.amount h4 {
    font-size: 1.4rem;
}

.cashflow {
    margin-top: 0.5rem;
    padding: 1rem;
    background: #181D2A;
    border: 1px solid rgba(255, 255, 255, .05);
    border-radius: 16px;
}

.top h1 {
    font-size: 1rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top select {
    outline: none;
    border: none;
    background: #11151F;
    color: #E5E7EB;
    padding: 8px 10px;
    text-align: center;
    border: 1px solid rgba(239, 228, 228, 0.482);
    border-radius: 7px;
}

.chart {
    margin-top: 1.5rem;
    min-height: 320px;
    border-radius: 12px;
    background: #11151F;
    border: 1px dashed rgba(255, 255, 255, .08);
}


.transactions-section {
    padding: 13px;
    margin-top: 14px;
    border-radius: 10px;
    width: 100%;
    background: #181D2A;
}

.title h2 {
    font-size: 1rem;
}

.title p {
    font-size: 0.7rem;
    font-weight: 400;
}

.transactions-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.view-all {
    padding: 7px 10px;
    cursor: pointer;
    border-radius: 7px;
    outline: none;
    background-color: yellowgreen;
    color: black;
}

.toolbar {
    margin-top: 8px;
}

.filters {
    display: flex;
    gap: 0.4rem;
}

.allbtn {
    outline: none;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #7C3AED;
    color: white;
    border: none;
    cursor: pointer;
}

.incomebtn {
    outline: none;
    padding: 5px 12px;
    border-radius: 5px;
    border: none;
    background-color: limegreen;
    color: white;
    cursor: pointer;
}

.expensebtn {
    outline: none;
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: red;
    color: white;

}

.search {
    margin-top: 10px;
}

.search input {
    width: 100%;
    border: none;
    outline: none;
    padding: 6px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins", sans-serif;


}

@media (min-width:1024px) {
    .add button {
        padding: 10px 20px;
        font-size: 1.1rem;
        border-radius: 7px;
    }

    .navbar h1 {
        font-size: 2rem;
        cursor: pointer;
    }

    .ham {
        display: none;
    }

    nav {
        padding: 18px 40px;
        /* border-bottom: none; */
    }

    .dashboard p {
        font-size: 1.2rem;
    }

    .dashboard h1 {
        font-size: 2rem;
        padding: 1rem 0;
    }

    .cards {
        padding: 20px;
    }

    .card-container {
        grid-template-columns: repeat(4, 1fr);
    }

    .amount h4 {
        font-size: 2rem;
    }

    .balance h3,
    .income h3,
    .expenses h3 {
        font-size: 1.9rem;
    }

    .balance h4,
    .income h4,
    .expenses h4 {
        font-size: 1.9rem;
    }

    .transactions h3 {
        font-size: 1.5rem;
    }

    .transactions h4 {
        font-size: 1.9rem;
    }

    .cashflow {
        margin-top: 10px;
    }

    .top h1 {
        font-size: 1.4rem;
    }

    .title h2 {
        font-size: 1.5rem;
    }

    .title p {
        font-size: 1rem;
        font-weight: 400;
    }

}